@import "~bootswatch/dist/darkly/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/darkly/_bootswatch.scss";

.button-row {
    margin: 0 0 1rem 0;
    
    button {
        margin-right: 1rem;
    }
}

.stardb-app .row {
margin-bottom: 1rem;
}