@keyframes ldio-snzaziguegb {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}

.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}



.ldio-snzaziguegb div { box-sizing: border-box!important }
.ldio-snzaziguegb > div {
  position: absolute;
  width: 89px;
  height: 89px;
  top: 5.5px;
  left: 5.5px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #ff4829 transparent #ff4829 transparent;
  animation: ldio-snzaziguegb 1.408450704225352s linear infinite;
}

.ldio-snzaziguegb > div:nth-child(2), .ldio-snzaziguegb > div:nth-child(4) {
  width: 77px;
  height: 77px;
  top: 11.5px;
  left: 11.5px;
  animation: ldio-snzaziguegb 1.408450704225352s linear infinite reverse;
}
.ldio-snzaziguegb > div:nth-child(2) {
  border-color: transparent #4744d7 transparent #4744d7
}
.ldio-snzaziguegb > div:nth-child(3) { border-color: transparent }
.ldio-snzaziguegb > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-snzaziguegb > div:nth-child(3) div:before, .ldio-snzaziguegb > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 37px;
  background: #ff4829;
  border-radius: 50%;
  box-shadow: 0 84px 0 0 #ff4829;
}
.ldio-snzaziguegb > div:nth-child(3) div:after {
  left: -5px;
  top: 37px;
  box-shadow: 84px 0 0 0 #ff4829;
}

.ldio-snzaziguegb > div:nth-child(4) { border-color: transparent; }
.ldio-snzaziguegb > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-snzaziguegb > div:nth-child(4) div:before, .ldio-snzaziguegb > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 31px;
  background: #4744d7;
  border-radius: 50%;
  box-shadow: 0 72px 0 0 #4744d7;
}
.ldio-snzaziguegb > div:nth-child(4) div:after {
  left: -5px;
  top: 31px;
  box-shadow: 72px 0 0 0 #4744d7;
}
.loadingio-spinner-double-ring-55s5t2ja7ia {
  width: 77px;
  height: 77px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-snzaziguegb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.77);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-snzaziguegb div { box-sizing: content-box; }
/* generated by https://loading.io/ */